body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

a {text-decoration: none;}

li {display: inline;}

h2 a {color: #f42};

h2 a:hover {color: #000;}

/* 
top bars
*/

/* nav links */

.top-links {
  background-color: #131313;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: baseline;
}

.left-top-links {
  margin-left: 14px;
}

.right-top-links {
  margin-right: 14px;
}

.top-links ul li {
  margin: 6px;
}

.left-top-links li:first-child a {color: rgba(255, 255, 255);}

.top-links ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.81em;
}

.top-links ul li a:hover {color: rgba(255, 255, 255);}

/* main header */

.main-header {
  height: 48px;
  background-color: rgba(255, 255, 255);
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 99;
}

.header-logo {
  display: none;
}

.main-header nav {
  vertical-align: baseline;
}

.main-header nav ul {
  margin-left: 14px;
}

.main-header nav ul li {
  margin: 6px;
  vertical-align: baseline;
  line-height: 18px;
}

.main-header nav ul li a {
  color: rgb(170, 170, 170);
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.search {
  width: 18px;
  height: 18px;
  padding: 15px;
  transform: scaleX(-1);
  opacity: .6;
  border-right: 1px solid #eee;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .header-logo {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 72px;
    height: 22px;
    padding: 13px 16px;
    background: linear-gradient(to bottom right, #c09, #f42 85%);
  }

  .main-header nav {
    margin-left: 104px;
  }
}

@media only screen and (max-width: 760px) {
  .top-links, .main-header nav ul {
    display: none;
  }

  .hamburger {
    display: inline-block;
    border-left: 1px solid #eee;
  }
}




/* 
main body
 */

/* cover stories */




.cover-stories {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  width: calc(100% - 20px);
  height: 450px;
  background: linear-gradient(#eee, #fff 5%);
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  height: 544px;
}

@media only screen and (max-width: 1580px) {
  .cover-stories {
    height: 544px;
  }
}

.cover {
  position: relative;
}

.cover a {
  color: #fff;
}

.cover:first-child {
  grid-row: 1 / span 2;
  background-image: linear-gradient(170deg, rgba(246,7,7,1) 0%, rgba(0,0,0,0) 65%), url(../assets/rickmorty.jpg);
  background-size: cover, cover;
}

.logo {margin: 10px;}

@media only screen and (max-width: 1580px) {
  .logo {
    height: 146px;
  }
}

@media only screen and (max-width: 1380px) {
  .logo {
    width: 55%;
    height: auto;
  }
}

.cover-date {
  position: absolute;
  top: 16px;
  right: 24px;
  font-size: 14px;
  color: #ffff
}

.cover header {
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 80%);
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}



.cover header h5 {
  margin: 0 20px 5px 20px;
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 600;
  color: rgb(255, 255, 255);  
}

.cover header h2 {
  margin: 0 20px 15px 20px;
  font-size: 28px;
  font-weight: 700;
}

.cover:first-child header h2 {
  font-size: 56px;
  letter-spacing: -.015em;
  font-weight: 700;
  vertical-align: baseline;
}

.author-data {
  margin: 0 20px 15px 20px;
  list-style: none;
}

.author-data li {
  margin-right: 10px;
  font-family: sans-serif;
  font-size: 12px;
  color: hsla(0,0%,100%,.6);
}

.author-data li a {
  color: inherit;
}

.author-data li img {
  vertical-align: middle;
  width: 18px;
  height: 18px;
  filter: brightness(200%);
}

.cover:nth-child(2) {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../assets/brooklyn.jpg);
  background-size: cover;
}

.cover:nth-child(3) {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5) ), url(../assets/snapchat.png);
  background-size: cover;
}


@media only screen and (max-width: 1580px) {
  .cover-stories {
    height: 544px;
  }

  .logo {
    height: 146px;
  }
}

@media only screen and (max-width: 1380px) {
  .logo {
    width: 55%;
    height: auto;
  }
}

@media only screen and (max-width: 1000px) {
  .logo,
  .cover-date,
  .cover:nth-child(2) header ul li:last-child,
  .cover:nth-child(3) header ul li:last-child {
    display: none;
  }

  .cover:first-child {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../assets/rickmorty.jpg);
  }

  .cover header h5,
  .cover header a h2 {
    margin: 0 10px 5px 10px;
  }

  .author-data {
    margin: 0 10px 15px 10px;
  }

  .cover:first-child header h2 {
  font-size: 40px;
  }
}

@media only screen and (max-width: 760px) {
  .cover-stories {
    grid-template-columns: 1fr;
    height: auto;
  }

  .cover {
    height: 225px;
  }

  .cover header h2,
  .cover:first-child header h2 {
    font-size: 20px;
  }

  .cover header h5,
  .cover header ul {
    margin: 0 10px 5px 10px;
  }
}


/* 
down the page 
 */


.latest, .funding, .categories, .latest-deals {
  margin: 80px auto 0 auto;
  max-width: 1176px;
}

.latest h2, .funding h2 {
  margin-bottom: 28px;
  margin-left: 20px;
  font-family: sans-serif;
  font-size: 28px;
  font-weight: 700;
}

/* latest items */

.latest-grid, .funding-grid, .latest-deals-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(224px, 270px));
  justify-content: center;
  grid-gap: 20px;
  margin: 0 20px;
}

.latest-item {
  height: 227px;
}

.latest-item a {
  color: #000;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.latest-item a img {
  width: 100%;
  height: 135px;
}

.latest-item a h4 {
  margin: 5px 0;
}

.latest-item ul li {
  font-family: sans-serif;
  font-size: 13px;
  color: #aaa;
}

.latest-item ul li a {
  font-size: 13px;
  font-weight: 400;
  color: #aaa;
}

.latest-item ul li:first-child:after {
  content: "\B7";
  display: inline-block;
  margin-left: 4px;
}

@media only screen and (max-width: 1000px) {
  .latest-grid {
    grid-template-columns: repeat(3, minmax(225px, 310px));
  }

  .latest-item a img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 760px) {
  .latest-grid {
    grid-template-columns: 1fr;
  }

  .latest-item {
    display: grid;
    grid-template-columns: 75px 1fr;
    column-gap: 10px;
    height: auto;
  }

  .latest-item a:first-child {
    grid-row: 1 / span 3;
  }

  .latest-item a img {
    height: 75px;
  }

  .latest-item a h4 {
    margin-top: 0;
    font-size: 14px;
  }

  .latest-item ul {
    margin-top: 0;
  }
}


/* funding section */

.funding-header-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.funding-links {
    margin-top: 10px;
    margin-right: 10px;
    color: #f42;
}

.funding-links li {
  margin: 0 10px;
}

.funding-links li a {
  font-family: sans-serif;
  font-size: 16px;
  color: #f42;
}

.funding-item {
  position: relative;
  height: 270px;
  background-color: #fffaf8;
}

.funding-img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
}

.funding-header-top {
  height: 40px;
  background-color: #f42;
}

.funding-header-top h4 {
  padding-top: 11px;
  margin-left: 100px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.funding-header-bottom {
  height: 60px;
  background: rgba(255,68,34,.08);
}

.funding-header-bottom h4, .funding-header-bottom h5 {
  margin-left: 100px;
  font-family: sans-serif;
  color: #000;
}

.funding-header-bottom h4 {
  padding-top: 13px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
}

.funding-header-bottom h5 {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  opacity: .5;
}

.funding-category {
  display: block;
  margin: 15px;
  font-family: sans-serif;
  font-size: 13px;
  color: #555;
}

.funding-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding-left: 5px;
  transform: scaleX(-1);
}

.funding-story {
  display: block;
  padding: 15px;
  border-top: 1px solid rgba(255,68,34,.25);
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #555;
}

.funding-story span {
  color: #aaa;
}

@media only screen and (max-width: 1000px) {
  .funding-grid {
    grid-template-columns: repeat(3, minmax(225px, 310px));
  }

  .funding-item:last-child {
    display: none;
  }

  .funding-header-main {
    flex-direction: column;
  }

  .funding-links {
    margin: -10px 0 25px 10px;
  }
}

@media only screen and (max-width: 760px) {
  .funding-grid {
    grid-template-columns: 1fr;
  }

  .funding-item {
    height: auto;
  }

  .funding-links {
    margin: -20px 0 10px 20px;
  }

  .funding-links li a {
    display: block;
    font-size: 14px;
    line-height: 16px;
  }

  .separator {
    display: none;
  }
}


/* categories section */

.categories {
  display: grid;
  grid-template-columns: repeat(3, minmax(310px, 368px));
  justify-content: center;
  grid-gap: 20px;
  margin: 80px auto;
  padding: 0 20px;
}

.category {height: 660px;}

.category h2 {
  margin-bottom: 14px;
  font-family: sans-serif;
  font-size: 28px;
  font-weight: 700;
}

.category-header {
  height: 100px;
  padding-top: 48%;
  display: grid;
  flex-direction: column;
  align-content: flex-end;
}

.category-apps .category-header {
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 85%), url(../assets/android.jpg);
  background-size: cover;
}

.category-header h5 {
  margin-left: 20px;
  color: #fff;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  pointer-events: none;
}

.category-header h3 {
  margin: 6px 20px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.category-header h3 a {
  color: #fff;
}

.author-data {
  margin: 0 20px 15px 20px;
}

.category-header ul li {
  margin-right: 0;
  font-weight: 700;
}

.author-data li a {
  color: hsla(0,0%,100%,.6);
}

.author-data li {
  margin-right: 10px;
  font-family: sans-serif;
  font-size: 12px;
  color: hsla(0,0%,100%,.6);
}

.category-header ul li:first-child:after {
  content: "\B7";
  display: inline-block;
  margin-left: 4px;
}

.category-latest {
  display: grid;
  grid-template-columns: 1fr 96px;
  grid-template-rows: 96px auto;
  height: 96px;
  margin: 2px 0;
  background-color: rgba(255,68,34,.06);
}

.category-latest header {
  margin-top: 15px;
  margin-left: 20px;
}

.category-latest header h5 {
  font-family: sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #f42;
}

.category-latest header h4 {
  margin-top: 6px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.category-latest header h4 a {
  color: #f42;
}

.category-latest-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.more-from-category li {
  display: block;
  position: relative;
  padding: 6px 0 6px 14px;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1.5;
  border-bottom: 1px solid #eee;
}

.more-from-category li:before {
  position: absolute;
  top: 13px;
  left: 0;
  display: block;
  content: "";
  height: 4px;
  width: 4px;
  background-color: #f42;
  border-radius: 50%;
}

.more-from-category li a {
  color: #555;
}

.category-gear .category-header {
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 85%), url(../assets/tesla_reveal.png);
  background-size: cover;
}

.category-tech .category-header {
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 85%), url(../assets/tesla_break.png);
  background-size: cover;
}

.category-creative .category-header {
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 85%), url(../assets/make_games.jpg);
  background-size: cover;
}

.category-podium .category-header {
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 85%), url(../assets/ios13.png);
  background-size: cover;
}

.category-insights .category-header {
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 85%), url(../assets/bitcoin_dwight.jpg);
  background-size: cover;
}

.category-launch .category-header {
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 85%), url(../assets/amazon_grocery.jpg);
  background-size: cover;
}

.category-distract .category-header {
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 85%), url(../assets/tesla_break.png);
  background-size: cover;
}

@media screen and (max-width: 1000px) {
  .categories {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 760px) {
  .categories {
    grid-template-columns: 1fr;
  }

  .category {
    height: auto;
  }

  .category-header {
    padding-top: 60%;
  }
}

@media only screen and (max-width: 1000px) {
  .latest-deals-grid {
    grid-template-columns: repeat(3, minmax(225px, 310px));
  }

  .latest-deals-item a img {
    width: 100%;
    height: auto;
  }
}



/* latest deals */

.latest-deals {
  margin-bottom: 80px;
}

.latest-deals header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 30px 20px;
}

.latest-deals header a {
  font-size: 16px;
  color: #f42;
  font-family: sans-serif;
}

.latest-deals header h2 a {
  margin-bottom: 14px;
  font-size: 28px;
  font-weight: 700;
}

.latest-deals-item {
  position: relative;
  height: auto;
}

.latest-deals-item a {
  color: #000;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.latest-deals-item a img {
  width: 100%;
  height: auto;
}

.discount {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  background: linear-gradient(to bottom left, #fc0 50%, transparent 50% 100%);
}

.discount-size {
  position: absolute;
  top: 23px;
  left: 18px;
  transform: rotate(45deg);
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.latest-deals-item a h4 {
  margin: 5px 0;
}

.latest-deals-item ul li {
  margin-right: 4px;
  font-family: sans-serif;
}

.old-price {
  font-size: 13px;
  color: #aaa;
  text-decoration: line-through;
}

.new-price {
  font-size: 16px;
  color: #555;
}

@media only screen and (max-width: 1000px) {
  .latest-deals-grid {
    grid-template-columns: repeat(3, minmax(225px, 310px));
  }

  .latest-deals-item a img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 760px) {
  .latest-deals-grid {
    grid-template-columns: 1fr;
  }

  .discount {
    display: none;
  }

  .latest-deals-item {
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 1fr 20px 1fr auto;
    column-gap: 10px;
    height: 75px;
  }

  .latest-deals-img {
    grid-row: 1 / span 3;
  }

  .latest-deals-item a img {
    height: 75px;
  }

  .latest-deals-item a h4 {
    display: block;
    margin-top: 0;
    font-size: 14px;
  }

  .latest-deals-item ul {
    grid-column: 2;
    grid-row: 2;
  }
}

/* 
footer
 */

.footer-links {
  background: #131313;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 160px;
}

.social {
  margin-top: 12px;
  text-align: center;
}

.social li {
  padding: 6px;
}

.social li img {
  border-radius: 50%;
}

.footer-nav {
  margin-top: 21px;
  text-align: center;
}

.footer-nav li {
  margin: 0 6px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 12px;
}

.footer-nav li a {
  color: #aaa;
}

.copyright {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  height: 98px;
  color: #aaa;
  font-family: sans-serif;
  background: #000;
  font-size: 13px;
  line-height: 16px;
}

.copyright .wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: baseline;
  grid-gap: 2px;
  margin: 0 auto;
}

.footer-logo {
  height: 12px;
}

.powered-by {
  position: relative;
  top: 4px;
  height: 16px;
}

@media only screen and (max-width: 760px) {
  .social li {
    padding: 2px;
  }

  .footer-nav li {
    margin: 0 1px;
  }

  .copyright .wrapper {
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 4px;
  }
}